# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  run-tests-w-coverage:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: git checkout
        uses: actions/checkout@v2
      - name: setup node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.5.0
      - name: setup yarn
        run: npm -g install yarn
      - name: setup mongodb
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: 4.4
      - name: install dependencies
        run: yarn
      - name: run tests
        run: yarn run test
      - name: check test coverage
        run: .github/scripts/check-coverage.sh
